.bannerimage{
    background-image: url("../images/homePage.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
}
.bannerimage div{
    margin: auto;
    color: rgb(0, 0, 0);
    width: fit-content;
    height: fit-content;
    padding: 20px;
    position: absolute;
    top: 90%;
    bottom: 0%;left: 0%;
    right: 0%;
    font-size: 2em;


}
.navigbar{
    background-color: rgba(249, 12, 12, 0.75);
}
.navbar{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: white;
}
.navbar a{
    padding: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
}